<div class="hero-unit center">
  <h1>Вітаємо Вас на сайті з Лабораторними роботами ІВТ</h1>
  <br />
  <p>
    Тут Ви зможете ознайомитись з принципами роботи лабораторних установок, отримати теоретичну базу з обраної вами лабораторної роботи, а також побачити результати виеонання робіт.
  </p>
  <p><b>Для вибору лабораторних робіт - натисніть кнопку</b></p>
  <%= link_to "Лабораторні", lab_works_path, class: 'btn btn-info btn-large' %>

</div>