<footer>
  <div class="container">
    <p>Created as a Diploma project for <strong>RadioPhysics Faculty</strong></p>
    <p>Developed by <strong>pavlo Babenko</strong> and <strong>Oleg Mokhnjuk</strong> </p>
  </div>
</footer>

<%= javascript_include_tag "application" %>